*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin-right: 0;
    margin-left: 0;
}
body{
    background-color: #A7BFE8;
}
#container{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#tabuleiro{
    max-width: 1200px;
    max-height: 800px;
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 50px;
    box-shadow: 1px 10px 30px 10px black;
}
input.letrinha{
    background-color: transparent;
    border: none;
    border-bottom: 5px solid black;
    width: 40px;
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-right: 10px;
}
.controles{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botoes{
    padding: 20px;
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    margin: 20px;
    transition: 0.5s;
}
.botoes:hover{
    background-color: white;
    color: black;
    box-shadow: -1px -1px #6190E8,-2px -2px #5285e6,-3px -3px #447de7,-4px -4px #3372e7,-5px -5px #2065e6,-6px -6px #447de7,1px 1px 10px rgba(0 , 0, 0, 0.8);
    transition: 1s;

}

#entrada{
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
    border: none;
    border-radius: 5px;
}
#salvar{
    padding: 10px;
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    margin: 20px;
    transition: 0.5s;
}
#salvar:hover{
    background-color: white;
    color: black;
    box-shadow: -1px -1px #6190E8,-2px -2px #5285e6,-3px -3px #447de7,-4px -4px #3372e7,-5px -5px #2065e6,-6px -6px #447de7,1px 1px 10px rgba(0 , 0, 0, 0.8);
    transition: 1s;
}
footer{
    clear: both;
    padding: 50px;
    text-align: center;
    background-color: black;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #F3F5FC;
}